@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container-plans {
  display: flex;
  flex-direction: column;
  grid-column: 1/13;
  padding: 128px 0;
}
.container-card-and-plans {
  display: flex;
  gap: 64px;
}

.subtitle-plans {
  justify-self: right;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  align-self: start;
  color: #757575;
}

.title-plans {
  font-family: "Arial Black", sans-serif;
  font-size: 48px;
  color: #333;
  position: relative;
  display: inline-block;
  align-self: start;
  margin-bottom: 4px;
}

.title-plans::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1em;
  width: 100%;
  height: 0.4em;
  background-color: rgba(255, 235, 59, 0.4);
  z-index: -1;
  border-radius: 4px;
}

.container-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.card-plan {
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  gap: 16px;
  border: 1px solid #75757561;
  border-radius: 8px;
  padding: 12px;
  box-shadow: #75757561 8px 12px 24px 4px;
}

.text-plan {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}

.icon-plan {
  font-size: 45px;
  color: aliceblue;
}

.content-icon-plan-corporate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  background-color: #b3e5fc;
  border-radius: 50%;
}
.content-icon-plan-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  background-color: #fff59d;
  border-radius: 50%;
}
.content-icon-plan-globe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  background-color: #ffcc80;
  border-radius: 50%;
}
.content-icon-plan-collaboration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  background-color: #a5d6a7;
  border-radius: 50%;
}

.title-plan {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 8px;
}

.section-plans {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
}

.card-plan:hover {
  cursor: pointer;
}

.title-plan-section {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.text-plan-section {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #333;
}

.content-plan {
  padding-left: 64px;
}

.underline {
  width: 120px;
  margin: 16px 0;
}

.card-plan-active {
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  gap: 16px;
  border: 2px solid #74c9f0;
  border-radius: 8px;
  padding: 12px;
  box-shadow: #75757561 8px 12px 24px 4px;
}
