@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.clip-path-1{
  clip-path: polygon(30% 0%, 95% 0, 100% 14%, 100% 100%, 70% 100%, 0 100%, 0% 70%, 0 0)
}

.clip-path-2{
  clip-path: polygon(30% 0%, 89% 0, 100% 14%, 100% 100%, 70% 100%, 0 100%, 0% 70%, 0 0)
} 

.animate-scroll{
  view-timeline-name: --reveral;
  animation-name: scroll;
  animation-fill-mode: both;
  animation-timeline: --reveral;
  animation-range: entry 25% cover 50%;
}

@keyframes scroll {

  from{
    opacity: 0; 
  }

  to {
    opacity: 10; 
  }
  
  
}